{% extends 'common/master.html' %}
<title>{% block title %} Dashboard {% endblock %}</title>
{% load static %}
{% block content %}

<div class="content container-fluid">
	
	<!-- Page Header -->
	<div class="page-header">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="page-title">Welcome to  Doctor Admin  </h3> 
				
			</div>
		</div>
	</div>
	<!-- /Page Header -->

	<div class="row">
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="card">
				<div class="card-body">
					<div class="dash-widget-header">
						<span class="dash-widget-icon text-primary border-primary">
							<i class="fe fe-users"></i>
						</span>
						<div class="dash-count">
							<h3>168</h3>
						</div>
					</div>
					<div class="dash-widget-info">
						<h6 class="text-muted">Doctors</h6>
						<div class="progress progress-sm">
							<div class="progress-bar bg-primary w-50"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="card">
				<div class="card-body">
					<div class="dash-widget-header">
						<span class="dash-widget-icon text-success">
							<i class="fe fe-credit-card"></i>
						</span>
						<div class="dash-count">
							<h3>487</h3>
						</div>
					</div>
					<div class="dash-widget-info">
						
						<h6 class="text-muted">Patients</h6>
						<div class="progress progress-sm">
							<div class="progress-bar bg-success w-50"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="card">
				<div class="card-body">
					<div class="dash-widget-header">
						<span class="dash-widget-icon text-danger border-danger">
							<i class="fe fe-money"></i>
						</span>
						<div class="dash-count">
							<h3>485</h3>
						</div>
					</div>
					<div class="dash-widget-info">
						
						<h6 class="text-muted">Appointment</h6>
						<div class="progress progress-sm">
							<div class="progress-bar bg-danger w-50"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="card">
				<div class="card-body">
					<div class="dash-widget-header">
						<span class="dash-widget-icon text-warning border-warning">
							<i class="fe fe-folder"></i>
						</span>
						<div class="dash-count">
							<h3>$62523</h3>
						</div>
					</div>
					<div class="dash-widget-info">
						
						<h6 class="text-muted">Revenue</h6>
						<div class="progress progress-sm">
							<div class="progress-bar bg-warning w-50"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<div class="row">
		<div class="col-md-12">
		
			<!-- Recent Orders -->
			<div class="card card-table">
				<div class="card-header">
					<h4 class="card-title">Appointment List</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover table-center mb-0">
							<thead>
								<tr>
									<th>SL</th>
									<th>Doctor Name</th>
									<th>Speciality</th>
									<th>Patient Name</th>
									<th>Apointment Time</th>
									<th>Status</th>
									<th class="text-right">Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01</td>
									<td> Dr. Ruby Perrin </td>
									<td>Dental</td>
									<td> Charlene Reed </td>
									<td>9 Nov 2019 <span class="text-primary d-block">11.00 AM - 11.15 AM</span></td>
									<td>
										<div class="status-toggle">
											<input type="checkbox" id="status_1" class="check" checked>
											<label for="status_1" class="checktoggle">checkbox</label>
										</div>
									</td>
									<td class="text-right"> Tk. 200.00 </td>
								</tr>
								<tr>
									<td>01</td>
									<td> Dr. Ruby Perrin </td>
									<td>Dental</td>
									<td> Charlene Reed </td>
									<td>9 Nov 2019 <span class="text-primary d-block">11.00 AM - 11.15 AM</span></td>
									<td>
										<div class="status-toggle">
											<input type="checkbox" id="status_1" class="check" checked>
											<label for="status_1" class="checktoggle">checkbox</label>
										</div>
									</td>
									<td class="text-right"> Tk. 200.00 </td>
								</tr>
								<tr>
									<td>01</td>
									<td> Dr. Ruby Perrin </td>
									<td>Dental</td>
									<td> Charlene Reed </td>
									<td>9 Nov 2019 <span class="text-primary d-block">11.00 AM - 11.15 AM</span></td>
									<td>
										<div class="status-toggle">
											<input type="checkbox" id="status_1" class="check" checked>
											<label for="status_1" class="checktoggle">checkbox</label>
										</div>
									</td>
									<td class="text-right"> Tk. 200.00 </td>
								</tr>
								 
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /Recent Orders -->
			
		</div>
	</div>
	
</div>			
{% endblock %}		