{% extends 'common/master.html' %}
<title>{% block title %} Dashboard {% endblock %}</title>
{% load static %}
{% block content %}

<div class="content container-fluid">
	
	<!-- Page Header -->
	<div class="page-header">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="page-title">Welcome to  Doctor Admin  </h3> 
				
			</div>
		</div>
	</div>
	<!-- /Page Header -->

	<div class="row"> 
		<div class="col-xl-4 col-sm-6 col-12">
			<div class="card">
				<div class="card-body">
					<div class="dash-widget-header">
						<span class="dash-widget-icon text-success">
							<i class="fe fe-users"></i>
						</span>
						<div class="dash-count">
							<h3>{{total_patient}}</h3>
						</div>
					</div>
					<div class="dash-widget-info">
						
						<h6 class="text-muted">My Patients</h6>
						<div class="progress progress-sm">
							<div class="progress-bar bg-success w-50"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-sm-6 col-12">
			<div class="card">
				<div class="card-body">
					<div class="dash-widget-header">
						<span class="dash-widget-icon text-danger border-danger">
							<i class="fe fe-users"></i>
						</span>
						<div class="dash-count">
							<h3>{{total_appointment}}</h3>
						</div>
					</div>
					<div class="dash-widget-info">
						
						<h6 class="text-muted">My Appointment</h6>
						<div class="progress progress-sm">
							<div class="progress-bar bg-danger w-50"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-sm-6 col-12">
			<div class="card">
				<div class="card-body">
					<div class="dash-widget-header">
						<span class="dash-widget-icon text-primary border-primary">
							<i class="fe fe-users"></i>
						</span>
						<div class="dash-count">
							<h3>{{total_doctor}}</h3>
						</div>
					</div>
					<div class="dash-widget-info">
						<h6 class="text-muted">Doctors</h6>
						<div class="progress progress-sm">
							<div class="progress-bar bg-primary w-50"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		 
	</div>
		
	<div class="row">
		<div class="col-md-12">
		
			<!-- Recent Orders -->
			<div class="card card-table">
				<div class="card-header">
					<h4 class="card-title">My Appointments </h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						{% if appiontment_list  %}
							<table class="table table-bordered table-striped">
								<tr>
									<th>SL</th>
									<th>Patient Name</th>
									<th>Appointment Date</th>
									<th>Appointment Time</th>
									<th>Serial Numner</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
								
								{% for data in appiontment_array %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ data.patient_name }}</td>
										<td>{{ data.appiontment_date }}</td>
										<td>{{ data.appiontment_time }}</td>
										<td>{{ data.serial_number }}</td>
										<td>{{ data.appointment_status }}</td>
										<td>
											{% if data.test_exist == "Yes" %}
												<a href="/doctor/patient/{{ data.id }}/test-report/" class="btn btn-success">Test Report</a> 
											{% else %}
												<a href="/doctor/patient/{{ data.id }}/write-test/" class="btn btn-success">Write Test </a>
											{% endif %}
											<a href="/doctor/patient/{{ data.id }}/write-medicine/" class="btn btn-info">{% if data.medicine_exist == "Yes" %} View Medicine {% else %} Write Medicine {% endif %}</a>
											{% if data.medicine_exist == "Yes" %}
												<a href="/doctor/patient/{{ data.id }}/view-prescription/" target="_blank" class="btn btn-primary"> View Prescription </a> 
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</table>
						{% else %}
							<h3>No patient found.</h3>
						{% endif %}
					</div>
				</div>
			</div>
			<!-- /Recent Orders -->
			
		</div>
	</div>
	
</div>			
{% endblock %}		