<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription</title>
</head>
<body>
    <table style="background-color: #42d785;padding:5px">
        <tr>
            <td colspan="4">
                <h2 style="color:white;line-height: 10px;margin:0px;padding:5px;text-align: center;font-weight: bold;font-size:30px">{{ find_patient.doctor_name.first_name }} {{ find_patient.doctor_name.last_name }}</h2>
                <h4 style="color:white;line-height: 7px;margin:0px;padding:2px;text-align: center;font-weight: bold;font-size:16px">{{ find_patient.doctor_name.qualification }}, {{ find_patient.doctor_name.designation }}</h4>
                <h4 style="color:white;line-height: 7px;margin:0px;padding:3px;text-align: center;font-weight: bold;font-size:16px">{{ find_patient.doctor_name.hospital_name.hospital_name }}</h4>
                <h4 style="color:white;line-height: 7px;margin:0px;padding:3px;text-align: center;font-weight: bold;font-size:14px">Visition hour: {{ find_patient.doctor_name.working_hour }}, For Serial : {{ find_patient.doctor_name.user_phone }}</h4>
            </td> 
        </tr> 
    </table>
    <table style="background-color: rgb(245, 169, 29);padding:5px">
        <tr>
            <td style="line-height: 5px;color:rgb(9, 17, 74);width: 25%;">Name : {{ find_patient.patient_name.first_name }} {{ find_patient.patient_name.last_name }}</td>
            <td style="line-height: 5px;color:rgb(9, 17, 74);width: 15%;">Age :  {{ find_patient.patient_name.running_age }} year</td>
            <td style="line-height: 5px;color:rgb(9, 17, 74);width: 20%;">Mobile : {{ find_patient.patient_name.user_phone }}</td>
            <td style="line-height: 5px;color:rgb(9, 17, 74);width: 45%;">Address : {{ find_patient.patient_name.address1 }}</td>
        </tr>
    </table>
    <table style="background-color: #f2f2f2;padding:5px">
        <tr>
            <td style="height:600px;width:300px;background-color: bisque;font-size: 15px;">
                <ul>
                    {% for test in patient_wise_test %}
                    <li> {{ test.test_name }}</li>
                    {% endfor %}
                </ul>
             </td>
            <td style="height:600px;width:600px;font-size: 15px;">
                {{ patient_wise_medicine.medicine_name|safe }}
            </td>
        </tr>
    </table> 
    <table style="background-color: #367399;padding:5px">
        <tr>
            <td><p style="text-align: center;color:white;line-height: 5px;font-size: 13px;"><strong>Note : </strong> Please take your madicine be careful everyday and right time to meet your doctor.</p></td>
        </tr>
    </table>
</body>
</html>